@model GibiSu.Models.Order
@using GibiSu.Data;
@inject ApplicationDbContext context;
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@{
    string userName = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var applicationDbContext = context.OrderProducts.Include(o => o.Order).Include(o => o.Product).Where(o => o.Order.OrderDate == null).Where(o => o.Order.UserId == userName);
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="container my-4">
    <div asp-for="OrderProducts" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var item in applicationDbContext)
        {
            <div class="col">
                <div class="product-card card shadow">
                    <img src='data:image/jpeg;base64,@Convert.ToBase64String(item.Product.Image)' class="card-img-top" />
                    <div class="card-body mt-2">
                        <div style="text-align: center" class="product-card-title">
                            @item.Product.Name
                        </div>
                        <div class="product-card-price">@item.Price TL</div>
                        <div style="text-align: center; margin-bottom: 10px">
                            <span>
                                <input disabled id="PCount-@item.ProductId.ToString()"
                                   type="number"
                                   style="width: 50px; border-radius: 10px" value="@item.Amount" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"></>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Siparişi Onayla" class="btn btn-primary" />
                <a class="btn btn-primary" asp-controller="orderProducts" asp-action="Index">Sepete Dön</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
