@model IEnumerable<GibiSu.Models.Order>
@using Microsoft.EntityFrameworkCore;
@using GibiSu.Data;
@inject ApplicationDbContext context;

@{
    ViewData["Title"] = "Index";
    var products = context.Products.Join(context.OrderProducts, p => p.Id, o => o.ProductId, (p, o) => new
    {
        Name = p.Name, Image = p.Image, Amount = o.Amount, TotalPrice = o.TotalPrice, Id= p.Id
    });
    var orderProducts = context.OrderProducts.GroupBy(p => p.ProductId).Select(cl => new OrderProduct
            {
                Amount = cl.Sum(o => o.Amount),
                TotalPrice = cl.Sum(o => o.TotalPrice),
            }).ToList();
    var products2 = context.Products;
}

<h1 style="text-align:center;color:white;margin-bottom:50px;">Satışlarım</h1>
<table>

    @foreach (var item3 in orderProducts)
    {
        @foreach (var item in products2)
                    {
                        if (item3.ProductId == item.Id) {
                <tr style="color:white;margin-bottom: 10px;">
                    <td style="width: 20%;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="width: 20%;padding-right:70px">
                        <img style="width: 100px;height: auto; border-radius: 0; margin-left: 50px;" src='data:image/jpeg;base64,@Convert.ToBase64String(item.Image)' class="card-img-top" />
                    </td>
                        
                    <td style=" width: 20%;color:white;padding-right:70px">
                        X @item3.Amount
                    </td>
                        <td style=" width: 20%;color:white;">
                            <strong>@products.Sum(i=> i.TotalPrice) TL</strong>
                        </td>

                </tr>
            }
        }
    }
    
</table>
