@model IEnumerable<GibiSu.Models.Order>
@using Microsoft.EntityFrameworkCore;
@using GibiSu.Data;
@inject ApplicationDbContext context;

@{
    ViewData["Title"] = "Index";
    var products = context.Products.Join(context.OrderProducts, p => p.Id, o => o.ProductId, (p, o) => new
    {
        Name = p.Name, Image = p.Image, Amount = o.Amount, TotalPrice = o.TotalPrice, Id= p.Id
    });
    var orderProducts = context.OrderProducts.GroupBy(o=> o.ProductId)
                 .Select(g => new { ProductId = g.Key, SumAmount = g.Sum(o => o.Amount), SumTotalPrice = g.Sum(o => o.TotalPrice) });
    var products2 = products.AsEnumerable().GroupBy(p => p.Id).Select(grp => grp.First()).ToList();
}

<h1 style="text-align:center;color:white;margin-bottom:50px;">Satışlarım</h1>
<table>

    @foreach (var item3 in products2)
    {
        <tr style="color:white;margin-bottom: 10px;">
                    <td style="width: 20%;">
                        @Html.DisplayFor(modelItem => item3.Name)
                    </td>
                    <td style="width: 20%;padding-right:70px">
                        <img style="width: 100px;height: auto; border-radius: 0; margin-left: 50px;" src='data:image/jpeg;base64,@Convert.ToBase64String(item3.Image)' class="card-img-top" />
                    </td>
            @foreach(var item in orderProducts)
            {
                @if(item.ProductId == item3.Id){
          
                    <td style=" width: 20%;color:white;padding-right:70px">
                        X @item.SumAmount
                    </td>
                    <td style=" width: 20%;color:white;">
                            <strong>@item.SumTotalPrice TL</strong>
                    </td>
                }
            }
                </tr>
    }
    
</table>
