html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #215fac !important;
}
.box-shadow[b-ba0w5qqfzh] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    align-items: center;
    height: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #215fac !important;
}
.navbar-nav {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    position: static;
    float: none;
    list-style: none;
}
.navbar a {
    color: white !important;
}
.navbar-brand{
    font-size:36px;
}

.col6Img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.content-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-top: 19%;
    color: white;
    
}

.mid-content {
    background-color: #215fac !important;
}

.textMid {
    padding: 5%;
    padding-left: 35%;
}

.card-body {
    display: block;
    position: absolute;
    top: 94px;
}

.card {
    border:0;
}

.socialmediaIconn{
    font-size:30px;
    color:white!important;
    text-decoration:none;
}

.menu-item{
    opacity: .65;
}

#backtotop {
    background: #fff;
    border-radius: 50%;
    border: 0;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 58px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 55px;
    z-index: 300;
}

    #backtotop:after {
        border-color: #215fac!important;
        position: absolute;
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: 2px solid;
        border-top: 2px solid;
        opacity: 1;
        top: 50%;
        left: 50%;
        -webkit-transform: rotate(-45deg) translate(0,-50%);
        -o-transform: rotate(-45deg) translate(0,-50%);
        transform: rotate(-45deg) translate(0,-50%);
        margin-top: 2px;
        margin-left: -2px;
    }
.contentF {
    margin-top: 6%;
}

.responsive {
    width: 100%;
    height: auto;
}