html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #215fac !important;
}

.box-shadow[b-ba0w5qqfzh] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    align-items: center;
    height: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #215fac !important;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    position: static;
    float: none;
    list-style: none;
}

.navbar a {
    color: white !important;
}

.navbar-brand {
    font-size: 36px;
}

.col6Img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.content-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-top: 19%;
    color: white;
}

.mid-content {
    background-color: #215fac !important;
}

.textMid {
    padding: 5%;
    padding-left: 35%;
}

.layout-card-body {
    display: block;
    position: absolute;
    top: 94px;
}

.card {
    border: 0;
}

.socialmediaIconn {
    font-size: 30px;
    color: white !important;
    text-decoration: none;
}

.menu-item {
    opacity: .65;
}

#backtotop {
    background: #fff;
    border-radius: 50%;
    border: 0;
    bottom: 20px;
    cursor: pointer;
    height: 58px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 55px;
    z-index: 300;
}

    #backtotop:after {
        border-color: #215fac !important;
        position: absolute;
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: 2px solid;
        border-top: 2px solid;
        top: 50%;
        left: 50%;
        -webkit-transform: rotate(-45deg) translate(0,-50%);
        -o-transform: rotate(-45deg) translate(0,-50%);
        transform: rotate(-45deg) translate(0,-50%);
        margin-top: 2px;
        margin-left: -2px;
    }

.responsive {
    width: 100%;
    height: auto
}

.contentF {
    margin-top: 6%;
}

.card-img-top { /*Product*/
    width: 100%;
    height: 25vh;
    object-fit: fill;
}
.contentF{
    margin-top:6%;
}

.privacyTop {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 300px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px solid transparent;
    box-sizing: border-box;
    z-index: 2147483647;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 8px;
}

.privacyTop1 {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: transparent;
    width: 226px !important;
    height: auto !important;
    overflow: hidden !important;
}

.privacyImg {
    display: block;
    margin: 1em auto;
    width: 170px;
    height: auto;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0px;
}
.PrivacyBodyTop {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    padding-left: 6px;
}
.PrivacyBody {
    display: block;
    box-sizing: border-box;
    overflow-y: scroll;
    background: rgb(255, 255, 255);
}

.PrivacyContent {
    display: block;
    margin: 0px 0px 0.75em;
    font-size: 0.8em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: left;
    padding: 0px 1em !important;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}
}

.Banner {
    padding-right: var(--bs-gutter-x,0rem);
    padding-left: var(--bs-gutter-x,0rem);
}

    .Banner img {
        width: 100%;
    }

.Title {
    padding: 20px 0 20px;
}

    .Title h1 {
        text-align: center;
        font-size: 54px;
        color: #215fac
    }

.Text p {
    color: #6e757b;
    line-height: 2.5;
}
.Image img{
    width:100%;
    margin-bottom:10px;
}