@model GibiSu.Models.Page
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int contentCount = 1;
}
<script>
    var myJsVar = "@contentCount";
    function Preview(){
        var con0=document.getElementById("Contents_0__PageUrl");
        var pUrl=document.getElementById("Url");

        con0.value=pUrl.value;
       
        var formData = new FormData($("#pageForm")[0]);
        $.ajax({
            url: '@Url.Action("Preview","Pages")', // point to server-side controller method
            dataType: 'html', // what to expect back from the server
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            type: 'post',
            success: function (response) {
                $('#PagePreview').html(response); // display success response from the server
            },
            error: function (response) {
                $('#PagePreview').html(response); // display error response from the server
            }
        });

    }
    function NewContent() {
        //@contentCount++;
        alert("@contentCount");
        //$("#ContentNew").load("@Url.Action("NewContent","Pages")?i=" + myJsVar);
    }
</script>
<div class="container-fluid" style="background-color: white; margin-bottom:25px">
<h1>Sayfa Oluştur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype = "multipart/form-data" id="pageForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormImage" class="control-label"></label>
                <input asp-for="FormImage" class="form-control" />
                <span asp-validation-for="FormImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class ="form-control" asp-items="ViewBag.MenuId">
                    <option asp-for ="MenuId" class="form-control" value="Seçiniz" selected disabled>Seçiniz</option>
                </select>
            </div>
            @for (int i = 0; i < contentCount; i++){
                <div class="form-group">
                    <label asp-for="Contents[0].Title" class="control-label"></label>
                    <input asp-for="Contents[0].Title" class="form-control" />
                    <span asp-validation-for="Contents[0].Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[0].Text" class="control-label"></label>
                    <textarea asp-for="Contents[0].Text" class="form-control"></textarea>
                    <span asp-validation-for="Contents[0].Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[0].FormImage" class="control-label"></label>
                    <input asp-for="Contents[0].FormImage" class="form-control" />
                    <span asp-validation-for="Contents[0].FormImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[0].Type" class="control-label"></label>
                    <input asp-for="Contents[0].Type" class="form-control" />
                    <span asp-validation-for="Contents[0].Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[0].Order" class="control-label"></label>
                    <input asp-for="Contents[0].Order" class="form-control" />
                    <span asp-validation-for="Contents[0].Order" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input hidden asp-for="Contents[0].PageUrl" value="" class="form-control" />
                </div>
            }
                
                <div id="ContentNew">

                </div>
                <div>
                    <input type="button" onclick="NewContent()" value="+" class="btn btn-success btn-sm" />
                </div>
                <div class="form-group" style="margin-bottom: 10px; margin-top: 10px;">
                    <input type="submit" value="Oluştur" class="btn btn-primary btn-sm" />
                    <input type="button" onclick="Preview()" value="Önizleme" class="btn btn-success btn-sm" />
                    <a asp-action="Index" class="btn btn-warning btn-sm">İçerikler Listesine Geri Dön</a>
                    <a asp-action="Sayfalar" class="btn btn-warning btn-sm">Sayfalar Listesine Geri Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="PagePreview">

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
