@model GibiSu.Models.Page
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}
<script>
    function GetPageUrl(url){
        document.getElementById("Contents_0__PageUrl").value = url;
    }
    function Preview(){
        var formData = $("#pageForm").serialize();
        var image = document.getElementById("FormImage").value;
        var contentsFormImage = document.getElementById("Contents_0__FormImage").value;
        $("#PagePreview").load("@Url.Action("Preview","Pages")", formData);

    }
    function NewContent() {
        //i++;
        alert("fsd");
    }
</script>
<div class="container-fluid" style="background-color: white; margin-bottom:25px">
<h1>Sayfa Oluştur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype = "multipart/form-data" id="pageForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" onchange="GetPageUrl(this.value)" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormImage" class="control-label"></label>
                <input asp-for="FormImage" class="form-control" />
                <span asp-validation-for="FormImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class ="form-control" asp-items="ViewBag.MenuId">
                    <option asp-for ="MenuId" class="form-control" value="Seçiniz" selected disabled>Seçiniz</option>
                </select>
            </div>
                <div class="form-group">
                    <label asp-for="Contents[i].Title" class="control-label"></label>
                    <input asp-for="Contents[i].Title" class="form-control" />
                    <span asp-validation-for="Contents[0].Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[i].Text" class="control-label"></label>
                    <textarea asp-for="Contents[i].Text" class="form-control"></textarea>
                    <span asp-validation-for="Contents[i].Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[i].FormImage" class="control-label"></label>
                    <input asp-for="Contents[i].FormImage" class="form-control" />
                    <span asp-validation-for="Contents[i].FormImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[i].Type" class="control-label"></label>
                    <input asp-for="Contents[i].Type" class="form-control" />
                    <span asp-validation-for="Contents[i].Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents[i].Order" class="control-label"></label>
                    <input asp-for="Contents[i].Order" class="form-control" />
                    <span asp-validation-for="Contents[i].Order" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input hidden asp-for="Contents[i].PageUrl" value="" class="form-control" />
                </div>
                
                <div class="form-group" style="margin-bottom: 10px; margin-top: 10px;">
                    <input type="submit" value="Oluştur" class="btn btn-primary btn-sm" />
                    <input type="button" onclick="Preview()" value="Önizleme" class="btn btn-success btn-sm" />
                    <a asp-action="Index" class="btn btn-warning btn-sm">İçerikler Listesine Geri Dön</a>
                    <a asp-action="Sayfalar" class="btn btn-warning btn-sm">Sayfalar Listesine Geri Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="ContentNew">
    <input type="button" onclick="NewContent()" value="Yeni" class="btn btn-success btn-sm" />
</div>
<div id="PagePreview">

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
