@model GibiSu.Models.Page
@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group">
    <label asp-for="Contents[@ViewData["ContentNumber"]].Title" class="control-label"></label>
    <input asp-for="Contents[@ViewData["ContentNumber"]].Title" class="form-control" />
    <span asp-validation-for="Contents[@ViewData["ContentNumber"]].Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Contents[@ViewData["ContentNumber"]].Text" class="control-label"></label>
    <textarea asp-for="Contents[@ViewData["ContentNumber"]].Text" class="form-control"></textarea>
    <span asp-validation-for="Contents[@ViewData["ContentNumber"]].Text" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Contents[@ViewData["ContentNumber"]].FormImage" class="control-label"></label>
    <input asp-for="Contents[@ViewData["ContentNumber"]].FormImage" class="form-control" />
    <span asp-validation-for="Contents[@ViewData["ContentNumber"]].FormImage" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Contents[@ViewData["ContentNumber"]].Type" class="control-label"></label>
    <input asp-for="Contents[@ViewData["ContentNumber"]].Type" class="form-control" />
    <span asp-validation-for="Contents[@ViewData["ContentNumber"]].Type" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Contents[@ViewData["ContentNumber"]].Order" class="control-label"></label>
    <input asp-for="Contents[@ViewData["ContentNumber"]].Order" class="form-control" />
    <span asp-validation-for="Contents[@ViewData["ContentNumber"]].Order" class="text-danger"></span>
</div>
<div class="form-group">
    <input hidden asp-for="Contents[@ViewData["ContentNumber"]].PageUrl" value="" class="form-control" />
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
              

