@model GibiSu.Models.ApplicationUser

@{
    ViewData["Title"] = "Login";
}

<h1 style="padding-left: 50px;">Create</h1>

<h4 style="padding-left: 50px;">Login</h4>
<hr />
<div class="row">
    <div>
        <form id="registerForm" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input name="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input name="Password" type="password" class="form-control" />
            </div>
            <div class="form-group logsub">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="logsub1">
    <a asp-action="Index">Back to List</a>
</div>
