@model IEnumerable<GibiSu.Models.Product>

@{
    ViewData["Title"] = "Index";

    string content;
}
<script>
    function SepeteEkle(id) {
        $.get("@Url.Action("Create","OrderProducts")?productId=" + id);
    }
</script>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var item in Model)
        {
            if (item.Description.Length<200)
        {
            content = item.Description;
        }
        else
        {
            content = item.Description.Substring(0, 200)+ "...";
        }
            <div class="col mb-sm-2">

                <div class="card mb-4 shadow">
                    <img src='data:image/jpeg;base64,@Convert.ToBase64String(item.Image)' class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            @content
                        </p>
                        <div class="text-align:center">
                            <p style="font-weight:700; text-align:center">@item.Price TL</p>
                        </div>
                        <div style="text-align:center">
                            <button onclick="SepeteEkle(@item.Id)" class="btn btn-primary button-cart" type="button">
                                <i class="fa fa-shopping-cart me-1"></i>
                                Sepete Ekle
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        }
    </div>
</div>


