@model IEnumerable<GibiSu.Models.Product>

@{
    ViewData["Title"] = "Index";

    string content;
}
<script>
    function SepeteEkle(id) {
        $.get("@Url.Action("AddCart","OrderProducts")?productId=" + id);
    }
</script>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 card-row">
        @foreach (var item in Model)
        {
            if (item.Description.Length<200)
            {
                 content = item.Description;
            }
            else
            {
                 content = item.Description.Substring(0, 200)+ "...";
            }

                    <div class="col">
                        <div class="product-card card shadow">
                    <img src='data:image/jpeg;base64,@Convert.ToBase64String(item.Image)' class="card-img-top" />
                            <div class="card-body mt-2">
                                <span class="product-card-title">@item.Name</span>
                                <span class="product-card-price"> @item.Price TL </span>

                                <p style="margin-top: 10px">
                                    @content
                                </p>
                                <div style="text-align: center">
                                    <button type="button" class="button-card-cart btn btn-primary" onclick="SepeteEkle(@item.Id)">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        Sepete Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
        }
    </div>
</div>


